<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Book of your dinner journey for you">
  <meta name="theme-color" content="#7868e6" />
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Skip to Content</a>

  <header>
    <div class="appbar">
      <div class="logo">Dinner Journey</div>

      <nav class="navbar">
        <div class="menu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#/favorite">Favorite</a>
            </li>
            <li>
              <a href="https://github.com/ibrahimtrg18" target="_blank">About Us</a>
            </li>
          </ul>
        </div>

        <button id="hamburger" class="hamburger" aria-label="navigation-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </nav>

      <nav id="drawer" class="drawer">
        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/#/favorite">Favorite</a>
          </li>
          <li>
            <a href="https://github.com/ibrahimtrg18" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <main id="maincontent" class="skeleton">
    <div class="hero">
      <div class="image"></div>
    </div>
    <section class="content">
      <h1 class="content__title"></h1>
      <div id="restaurants" class="content__restaurants">
        <div class="restaurant-item">
          <div class="restaurant-item__head">
            <div class="restaurant-item__image image" alt="skeleton" width="100%" height="200"></div>
            <div class="restaurant-item__location"></div>
          </div>
          <div class="restaurant-item__body">
            <span class="restaurant-item__rating"></span>
            <h2 class="restaurant-item__info-name">
              <a href="/#/detail/rqdv5juczeskfw1e867"></a>
            </h2>
            <p class="restaurant-item__info-description"></p>
          </div>
        </div>
        <div class="restaurant-item">
          <div class="restaurant-item__head">
            <div class="restaurant-item__image image" alt="skeleton" width="100%" height="200"></div>
            <div class="restaurant-item__location"></div>
          </div>
          <div class="restaurant-item__body">
            <span class="restaurant-item__rating"></span>
            <h2 class="restaurant-item__info-name">
              <a href="/#/detail/rqdv5juczeskfw1e867"></a>
            </h2>
            <p class="restaurant-item__info-description"></p>
          </div>
        </div>
        <div class="restaurant-item">
          <div class="restaurant-item__head">
            <div class="restaurant-item__image image" alt="skeleton" width="100%" height="200"></div>
            <div class="restaurant-item__location"></div>
          </div>
          <div class="restaurant-item__body">
            <span class="restaurant-item__rating"></span>
            <h2 class="restaurant-item__info-name">
              <a href="/#/detail/rqdv5juczeskfw1e867"></a>
            </h2>
            <p class="restaurant-item__info-description"></p>
          </div>
        </div>
      </div>
      </div>
    </section>

  </main>

  <footer>
    <div>Copyright &copy; 2020 - Dinner Journey</div>
  </footer>
</body>

</html>