<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Book of your dinner journey for you">
  <meta name="theme-color" content="#7868e6" />
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <header>
    <div class="logo">Dinner Journey</div>

    <a href="#maincontent" class="skip-link">Skip to Content</a>

    <button id="hamburger" class="hamburger" aria-label="navigation-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav id="drawer" class="drawer">
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Favorite</a>
        </li>
        <li>
          <a href="https://github.com/ibrahimtrg18" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>

    <nav class="navbar">
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Favorite</a>
        </li>
        <li>
          <a href="https://github.com/ibrahimtrg18" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
  </header>


  <main id="maincontent"></main>

  <footer>Copyright &copy; 2020 - Dinner Journey</footer>
</body>

</html>