<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- fonts cdn -->
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <header>
    <nav id="drawer" class="drawer">
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Favorite</a>
        </li>
        <li>
          <a href="https://github.com/ibrahimtrg18" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>

    <div class="logo">Dinner Journey</div>

    <a href="#maincontent" class="skip-link">Skip to Content</a>

    <button id="hamburger" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar">
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Favorite</a>
        </li>
        <li>
          <a href="https://github.com/ibrahimtrg18" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero-inner__title">Track Your Dinner Journey</h1>
      <p class="hero-inner__tagline">Let's try all food around the world</p>
    </div>
  </div>

  <main id="maincontent">
    <section class="content">
      <h1 class="content__title">Explore Restaurant</h1>
      <div id="restaurants" class="content__restaurants"></div>
    </section>
  </main>

  <footer>Copyright &copy; 2020 - Dinner Journey</footer>
</body>

</html>