@import './variable.scss';
@import './mixin.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  color: $textColor;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: $bodyColor;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: $primaryColor;

  &:hover {
    color: darken($primaryColor, 20%);
  }
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .appbar {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #ffffff;
    padding: 0 16px;

    .logo {
      font-size: $logoFontSize;
      font-weight: 800;
      white-space: nowrap;
    }

    nav.navbar {
      .menu {
        display: none;

        @include mQ($minMobile) {
          display: block;
        }

        ul {
          display: grid;
          grid-template-columns: repeat(3, auto);
          list-style: none;

          li {
            a {
              font-size: $menuFontSizeMobile;
              text-decoration: none;
              color: $textColor;
              font-weight: 600;
              padding: 10px 8px;
              white-space: nowrap;

              &:hover {
                color: $primaryColor;
              }

              @include mQ($minMobile) {
                font-size: $menuFontSizeTablet;
                padding: 10px 12px;
              }
              @include mQ($minTablet) {
                font-size: $menuFontSizeDesktop;
                padding: 10px 16px;
              }
            }
          }
        }
      }

      .hamburger {
        display: grid;
        place-items: center;
        width: 48px;
        height: 48px;
        cursor: pointer;
        border: transparent;
        background-color: transparent;
        padding: 16px 10px;

        span {
          display: block;
          width: 20px;
          height: 2px;
          background-color: $textColor;
        }

        @include mQ($minMobile) {
          display: none;
        }
      }
    }
  }

  nav.drawer {
    z-index: 100;
    position: fixed;
    top: 48px;
    bottom: 0;
    right: -100%;
    display: block;
    min-width: 150px;
    width: 100%;
    max-width: 300px;
    height: $heightSidebar;
    background-color: #ffffff;
    padding: 8px 0;
    font-weight: 600;
    overflow-y: auto;
    transition: all 0.2s ease-in;

    &.open {
      right: 0;
    }

    @include mQ($minMobile) {
      display: none;
      width: 40%;
    }

    ul {
      list-style: none;

      li {
        display: block;

        a {
          display: block;
          font-size: $menuFontSizeMobile;
          text-decoration: none;
          color: $textColor;
          font-weight: 600;
          padding: 12px 16px;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.skip-link {
  background: $primaryColor;
  color: $whiteColor;
  font-weight: 600;
  top: -100%;
  left: 50%;
  padding: 4px;
  position: absolute;
  z-index: 1001;
}

.skip-link:focus {
  top: 0;
}

#maincontent {
  min-height: 95vh;
}

main {
  .hero {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;

    .hero__inner {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $whiteColor;

      .hero-inner__title {
      }
      .hero-inner__tagline {
      }
    }

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  .content {
    padding: 16px 16px;

    @include mQ($maxDesktop) {
      max-width: 1200px;
      margin: 0 auto;
    }
    .content__title {
      display: block;
      font-weight: 600;
      text-align: center;
      margin-bottom: 16px;
    }
  }
}

footer {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background-color: $whiteColor;
  color: $grayColor;
  font-weight: 300;
  font-size: $smFont;
  transition: all 0.1s;
}
