@import './variable.scss';
@import './mixin.scss';
@import './font.scss';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bodyColor;
  font-size: $textFontSize;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  color: $textColor;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $primaryColor;

  &:hover {
    color: darken($primaryColor, 20%);
  }
}

.of__hidden {
  overflow: hidden;
}

header {
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 8px 16px;

  nav.drawer {
    z-index: 100;
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    min-width: 150px;
    width: 100%;
    max-width: 300px;
    height: $heightSidebar;
    background-color: #ffffff;
    padding: 8px 0;
    font-weight: 600;
    overflow-y: auto;
    transition: all 0.2s ease-in;

    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    @include mQ($minMobile) {
      display: none;
      width: 40%;
    }

    ul {
      list-style: none;

      li {
        display: block;

        a {
          display: block;
          font-size: $menuFontSizeMobile;
          text-decoration: none;
          color: $textColor;
          font-weight: 600;
          padding: 8px 16px;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }

  .logo {
    font-size: $logoFontSize;
    font-weight: 800;
  }

  .hamburger {
    display: grid;
    place-items: center;
    height: 20px;
    width: 20px;
    cursor: pointer;

    span {
      display: block;
      width: 20px;
      height: 3px;
      background-color: $textColor;
    }

    @include mQ($minMobile) {
      display: none;
    }
  }

  nav.navbar {
    display: none;

    @include mQ($minMobile) {
      display: block;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-left: 16px;

        a {
          font-size: $menuFontSizeMobile;
          text-decoration: none;
          color: $textColor;
          font-weight: 600;

          &:hover {
            color: $primaryColor;
          }

          @include mQ($minMobile) {
            font-size: $menuFontSizeTablet;
          }
          @include mQ($minTablet) {
            font-size: $menuFontSizeDesktop;
          }
        }
      }
    }
  }
}

.hero {
  position: relative;
  display: block;
  width: 100%;
  min-height: 400px;
  background-image: url('/images/heros/hero-image_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .hero__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $whiteColor;

    .hero-inner__title {
    }
    .hero-inner__tagline {
    }
  }
}

.skip-link {
  background: $primaryColor;
  color: $whiteColor;
  font-weight: 700;
  top: -100%;
  left: 50%;
  padding: 4px;
  position: absolute;
}

.skip-link:focus {
  top: 0;
}

main {
  padding: 0 16px;

  @include mQ($maxDesktop) {
    max-width: 1200px;
    margin: 0 auto;
  }

  .content {
    padding: 16px 0;
    .content__title {
      display: block;
      font-weight: 700;
      text-align: center;
      margin-bottom: 16px;
    }
  }
}

footer {
  display: block;
  padding: 8px 16px;
  background-color: $whiteColor;
  width: 100%;
  color: $grayColor;
  font-weight: 300;
  font-size: $smFont;
}
