@import './variable.scss';
@import './mixin.scss';

.content__restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 0;

  @include mQ($minMobile) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 8px;
  }

  @include mQ($minTablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 16px;
  }

  .restaurant-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    // margin-bottom: 16px;
    background-color: $whiteColor;
    box-shadow: $cardBoxShadow;
    overflow: hidden;

    .restaurant-item__head {
      position: relative;
      .restaurant-item__image {
        width: 100%;
        height: auto;
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
      }

      .restaurant-item__location {
        position: absolute;
        top: 16px;
        right: 0;
        padding: 4px 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: $smFont;
        background-color: $whiteColor;
        color: $secondaryColor;
        font-weight: 600;

        @include mQ($minMobile) {
          font-size: $mdFont;
        }

        @include mQ($minTablet) {
          font-size: $lgFont;
        }

        @include mQ($minDesktop) {
          font-size: $mdFont;
        }
      }
    }

    .restaurant-item__body {
      position: relative;
      padding: 8px 16px 16px;

      .restaurant-item__rating {
        font-size: $xsFont;
        font-weight: 300;
        color: $grayColor;
      }

      .restaurant-item__info-name {
        & a {
          padding: 8px 0;
        }
      }

      .restaurant-item__info-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
    }
  }
}
